5.1

In [ ]:
# Install PySpark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
# Import required libraries
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

# Create a Spark session
spark = SparkSession.builder \
    .appName("NYCTaxiDataAnalysis") \
    .getOrCreate()

# Verify Spark version
print(f"Spark Version: {spark.version}")

Spark Version: 3.5.5

In [ ]:
# Download the NYC Taxi Zone Lookup dataset
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

# Download the For-Hire Vehicle trip data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

--2025-03-06 06:41:01--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250306T064101Z&X-Amz-Expires=300&X-Amz-Signature=410f1255213cc00b60f3db8d5f12edfc7d6c403a26359efb75294a9245286edf&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-03-06 06:41:01--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250306T064101Z&X-Amz-Expires=300&X-Amz-Signature=410f1255213cc00b60f3db8d5f12edfc7d6c403a26359efb75294a9245286edf&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-03-06 06:41:01 (92.2 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

--2025-03-06 06:41:01--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.116.4
Connecting to github.com (github.com)|140.82.116.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250306T064101Z&X-Amz-Expires=300&X-Amz-Signature=e5b496b03944a56c74ab0d06c196d884202175b7bf6ab9745c0aab468e59d5b3&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-03-06 06:41:01--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250306T064101Z&X-Amz-Expires=300&X-Amz-Signature=e5b496b03944a56c74ab0d06c196d884202175b7bf6ab9745c0aab468e59d5b3&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123.95M   178MB/s    in 0.7s

2025-03-06 06:41:02 (178 MB/s) - ‘fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [ ]:
# Read the Taxi Zone Lookup CSV
zones_df = spark.read.csv('taxi_zone_lookup.csv', header=True, inferSchema=True)
zones_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [ ]:
# Read the FHV trip data (compressed file)
trips_df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("fhvhv_tripdata_2021-01.csv.gz")

In [ ]:
# Basic exploration
print("Total number of trips:", trips_df.count())
trips_df.printSchema()
trips_df.show(25)

Total number of trips: 11908468
root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: integer (nullable = true)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
|           HV0005|              B02510|2021-01-01 00:22:24|2021-01-01 00:36:23|          92|         191|   NULL|
|           HV0005|              B02510|2021-01-01 00:40:55|2021-01-01 00:52:38|         191|         203|   NULL|
|           HV0003|              B02836|2021-01-01 00:36:21|2021-01-01 00:57:41|         146|         129|   NULL|
|           HV0003|              B02512|2021-01-01 00:14:21|2021-01-01 00:21:16|          37|         225|   NULL|
|           HV0003|              B02512|2021-01-01 00:26:37|2021-01-01 01:08:20|         225|          47|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 25 rows

5.2 - Spark SQL and DataFrames

In [ ]:
from pyspark.sql.functions import col, to_date, hour, count, avg, max, min, expr, unix_timestamp

# 1. Select and Filter Operations
# Select specific columns and filter trips
trips_with_duration = trips_df.withColumn(
    "trip_duration_minutes",
    (unix_timestamp(col('dropoff_datetime')) - unix_timestamp(col('pickup_datetime'))) / 60 # Corrected calculation
)

short_trips = trips_with_duration.filter(col("trip_duration_minutes") < 30)
print("Number of short trips:", short_trips.count())


# 2. Date and Time Transformations
# Include trip_duration_minutes in trips_with_details
trips_with_details = trips_with_duration.withColumn(
    "pickup_date", to_date(col("pickup_datetime"))
).withColumn(
    "pickup_hour", hour(col("pickup_datetime"))
)


# 3. Aggregate Operations
hourly_trip_stats = trips_with_details.groupBy("pickup_hour").agg(
    count("*").alias("total_trips"),
    avg("trip_duration_minutes").alias("avg_duration_minutes"),
    max("trip_duration_minutes").alias("max_duration_minutes"),
    min("trip_duration_minutes").alias("min_duration_minutes")
)

hourly_trip_stats.show()

Number of short trips: 10836690
+-----------+-----------+--------------------+--------------------+--------------------+
|pickup_hour|total_trips|avg_duration_minutes|max_duration_minutes|min_duration_minutes|
+-----------+-----------+--------------------+--------------------+--------------------+
|         12|     572737|  16.122295893810506|   577.1166666666667|0.016666666666666666|
|         22|     533375|  14.589516537769915|   666.1166666666667|                 0.0|
|          1|     267724|  14.089426361974674|               750.2|                 0.0|
|         13|     618757|  16.411899070771383|              447.25|                 0.0|
|          6|     317002|   16.04994558393957|   287.3333333333333|                0.05|
|         16|     708869|   17.63605762606823|  404.18333333333334|                 0.0|
|          3|     150020|  14.279034795360552|  251.98333333333332|0.016666666666666666|
|         20|     595136|  14.785201505762359|               211.4|                 0.0|
|          5|     188020|  15.524828121121848|  310.46666666666664| 0.06666666666666667|
|         19|     711875|   15.25607171202836|               433.5|                 0.0|
|         15|     698975|   17.53898415537011|   583.1166666666667|                 0.0|
|          9|     545605|  15.627321810956204|  480.46666666666664|0.016666666666666666|
|         17|     765136|   17.53356658162726|              686.55|                 0.0|
|          4|     135427|  14.802979095748682|  387.68333333333334|                 0.0|
|          8|     587343|    16.0624591592993|   530.8833333333333|                 0.0|
|         23|     451052|  14.384635880859408|   577.4833333333333|                 0.0|
|          7|     467825|  16.164412689930675|               457.7|                 0.0|
|         10|     528413|  15.639867994668476|  462.78333333333336|                 0.0|
|         21|     530478|   14.58524670203069|   640.2833333333333|                 0.0|
|         11|     536807|  15.890939512090101|  381.03333333333336|0.016666666666666666|
+-----------+-----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# 4. License Number Analysis
license_trip_analysis = trips_df.groupBy("hvfhs_license_num") \
    .agg(
        count("*").alias("total_trips"),
        avg(expr("(unix_timestamp(dropoff_datetime) - unix_timestamp(pickup_datetime)) / 60")).alias("avg_trip_duration")
    ).orderBy("total_trips", ascending=False)

license_trip_analysis.show()

+-----------------+-----------+------------------+
|hvfhs_license_num|total_trips| avg_trip_duration|
+-----------------+-----------+------------------+
|           HV0003|    8704128|15.748788492464636|
|           HV0005|    3094325|16.219013823694745|
|           HV0004|     110015| 19.40503991879851|
+-----------------+-----------+------------------+

In [ ]:
# 5. Location Analysis
location_trips = trips_df.groupBy("PULocationID", "DOLocationID") \
    .agg(
        count("*").alias("trip_count"),
    ).orderBy("trip_count", ascending=False)

print("Top 10 location pair trips:")
location_trips.show(10)

Top 10 location pair trips:
+------------+------------+----------+
|PULocationID|DOLocationID|trip_count|
+------------+------------+----------+
|          76|          76|     47637|
|          26|          26|     30920|
|          39|          39|     29897|
|          61|          61|     28851|
|          42|          42|     17379|
|          14|          14|     15723|
|          37|          37|     15345|
|          89|          89|     14994|
|         129|         129|     14720|
|         132|         265|     14656|
+------------+------------+----------+
only showing top 10 rows

In [ ]:
# 6. SQL View and Query
trips_df.createOrReplaceTempView("taxi_trips")

# Busiest hours and locations
busiest_hours_sql = spark.sql("""
    SELECT
        HOUR(pickup_datetime) AS hour,
        COUNT(*) as trip_amount
    FROM taxi_trips
    GROUP BY hour
    ORDER BY trip_amount DESC
    LIMIT 5
    """)
print("\nBusiest Hours:")
busiest_hours_sql.show()

Busiest Hours:
+----+-----------+
|hour|trip_amount|
+----+-----------+
|  18|     765787|
|  17|     765136|
|  19|     711875|
|  16|     708869|
|  15|     698975|
+----+-----------+

In [ ]:
# Zones Join (if you have zones_df)
if 'zones_df' in locals():
  zones_df.createOrReplaceTempView("taxi_zones")

  trips_with_zones = spark.sql("""
    SELECT
        t.hvfhs_license_num,
        z1.Zone as pickup_zone,
        z2.Zone as dropoff_zone,
        COUNT(*) as trip_count
    FROM taxi_trips t
    LEFT JOIN taxi_zones z1 ON t.PULocationID = z1.LocationID
    LEFT JOIN taxi_zones z2 ON t.DOLocationID = z2.LocationID
    GROUP BY t.hvfhs_license_num, z1.Zone, z2.Zone
    ORDER BY trip_count DESC
    LIMIT 10
    """)

print("\nTrips by Licence and Zones:")
trips_with_zones.show()

Trips by Licence and Zones:
+-----------------+--------------------+--------------------+----------+
|hvfhs_license_num|         pickup_zone|        dropoff_zone|trip_count|
+-----------------+--------------------+--------------------+----------+
|           HV0003|       East New York|       East New York|     33753|
|           HV0003|        Borough Park|        Borough Park|     25009|
|           HV0003|            Canarsie|            Canarsie|     22248|
|           HV0003| Crown Heights North| Crown Heights North|     19488|
|           HV0005|       East New York|       East New York|     13806|
|           HV0003|           Bay Ridge|           Bay Ridge|     12557|
|           HV0003|Central Harlem North|Central Harlem North|     12363|
|           HV0003|     Jackson Heights|     Jackson Heights|     11489|
|           HV0003|Flatbush/Ditmas Park|Flatbush/Ditmas Park|     10747|
|           HV0003|         JFK Airport|                  NA|     10345|
+-----------------+--------------------+--------------------+----------+